@model PlanningEngineerApplication.Models.Rooms

@{
    ViewData["Title"] = "Upload Image";
}

<h1 class="text-center">Загрузить изображение для @Model.Name</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                Выберите изображение для загрузки
            </div>
            <div class="card-body">
                <form asp-action="UploadImage" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="imageFile">Выберите изображение</label>
                        <input type="file" name="imageFile" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-info mt-2">Загрузить</button>
                    <input type="hidden" name="id" value="@Model.Id" />
                </form>
            </div>
        </div>
    </div>
</div>
